<hr>
{% if single_product.stock <= 0 %} <h5 class="text-danger">Out of Stock</h5>
    {% else %}
    {% if in_cart %}
    <div class="d-flex justify-content-between">
        <a href="#" class="btn  btn-outline-success"><span class="text">Added to
                Cart</span><i class="fas fa-check"></i></a>

        <a href="{% url 'cart' %}" class="btn  btn-outline-dark ml-2"><span class="text">View Cart</span><i
                class="fas fa-eye"></i> </a>
    </div>
    {% else %}
    <button type="submit" class="btn  btn-primary"> <span class="text">Add to cart</span>
        <i class="fas fa-shopping-cart"></i> </button>
    {% endif %}
    {% endif %}